<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="/img/logo.png" alt="logo">
            </div>

            <nav>
                <a href="/">Main Page</a>
                <a href="/article/all">All Articles</a>
                <form action="/article/search" method="GET">
                    <input type="text" name="search" style="width: 100%;">
                    <input type="submit" value="Search">
                </form>
                <a href="/article/create">Create New Article</a>
            </nav>
        </aside>
        <div id="container">
            <header>
                {{#if isLoggedIn}}
                <a href="/">Home |</a>
                <span>| Welcome, {{username}}! |</span>
                <a href="/user/logout">| Logout |</a>
                {{else}}
                <a href="/user/login">| Login |</a>
                <a href="/user/register">| Register |</a>
                {{/if}}
            </header>
            <main>
                <h1>Welcome to SoftUni Wiki!</h1>
                {{#if message}}
                <section id="notifications">
                    <p>{{message}}</p>
                </section>
                {{/if}}
                {{{body}}}
            </main>
            <footer>
                SoftUni Wiki &copy; 2020
            </footer>
        </div>
    </div>
</body>

</html>